#subscriptionBarDiv {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  color: #fff;
  background-color: #4b858e;
  font-weight: normal;
}

#subscriptionFormWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-right: 10px;
}

form {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

form p {
  margin-right: 5px;
}

input {
  height: 31px;
  width: 180px;
  border-radius: 0;
  padding-left: 8px;
  margin-right: 14px;
  font-size: 14px;
  font-weight: normal;
  border: 1px solid #ccc;
  color: rgba(0, 0, 0, 0.75);
}

input:first-of-type {
  margin-left: 15px;
}

button {
  background-color: #00263a;
  color: #fff;
  border: 0;
  padding: 0 10px;
  border-radius: 3px;
  height: 33px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
}
